@import url("https://fonts.googleapis.com/css2?family=Outfit:wght@400;500;600;700&display=swap");

/* ======================= Start-Color ======================= */
:root {
  --primary: #00fffe !important;
  --secondary: #1e4a5d !important;
  --tertiary: #091a2d !important;
  --forth: #2fa2ad !important;
  --success: #4bb543 !important;
  --warning: #ff5722 !important;
  --danger: #d91831 !important;
  --info: #2196f3 !important;
  --white: #fff !important;
  --dark: #000 !important;
  --gray: #74767e !important;
}
.dark-mode {
  --primary: #00fffe !important;
  --secondary: #1e4a5d !important;
  --tertiary: #091a2d !important;
  --forth: #2fa2ad !important;
  --success: #4bb543 !important;
  --warning: #ff5722 !important;
  --danger: #d91831 !important;
  --info: #2196f3 !important;
  --white: #fff !important;
  --dark: #000 !important;
  --gray: #74767e !important;
}
/* ======================= End-Color ======================= */

/* ======================= Start-Bg-Color ======================= */
.bgprimary {
  background: var(--primary);
}
.bgsecondary {
  background: var(--secondary);
}
.bgtertiary {
  background: var(--tertiary);
}
.bgforth {
  background: var(--forth);
}
.bgsuccess {
  background: var(--success);
}
.bgwarning {
  background: var(--warning);
}
.bgdanger {
  background: var(--danger);
}
.bginfo {
  background: var(--info);
}
.bgwhite {
  background: var(--white);
}
.bggray {
  background: var(--gray);
}
.bgdark {
  background: var(--dark);
}
.bg-light-primary {
  background: #e9e7fd !important;
}
.bg-light-secondary {
  background: #faf1f1 !important;
}
.bg-light-success {
  background: #4bb5432e !important;
}
.bg-light-warning {
  background: #faf0ed !important;
}
.bg-light-danger {
  background: rgba(255, 0, 0, 0.144) !important;
}
/* ======================= Start-Bg-Color ======================= */

/* ======================= Start-Text-Color ======================= */
.textprimary {
  color: var(--primary);
}
.textsecondary {
  color: var(--secondary);
}
.texttertiary {
  color: var(--tertiary);
}
.textforth {
  color: var(--forth);
}
.textsuccess {
  color: var(--success);
}
.textwarning {
  color: var(--warning);
}
.textdanger {
  color: var(--danger);
}
.textinfo {
  color: var(--info);
}
.textwhite {
  color: var(--white);
}
.textgray {
  color: var(--gray);
}
.textdark {
  color: var(--dark);
}
/* ======================= End-Text-Color ======================= */

/* ======================= Start-Border ======================= */
.border-primary {
  border: 1px solid var(--primary);
}
.border-secondary {
  border: 1px solid var(--secondary);
}
.border-tertiary {
  border: 1px solid var(--tertiary);
}
.border-forth {
  border: 1px solid var(--forth);
}
.border-success {
  border: 1px solid var(--success);
}
.border-warning {
  border: 1px solid var(--warning);
}
.border-danger {
  border: 1px solid var(--danger);
}
.border-info {
  border: 1px solid var(--info);
}
.border-white {
  border: 1px solid var(--white);
}
.border-gray {
  border: 1px solid var(--gray);
}
.border-dark {
  border: 1px solid var(--dark);
}
/* ======================= End-Border ======================= */

/* ======================= Start-Font-Family ======================= */
p,
label,
small,
input,
textarea,
select,
button {
  font-family: "Outfit", sans-serif !important;
}
h1,
h2,
h3,
h4,
h5,
h6,
span,
th,
td,
tr,
li,
a {
  font-family: "Outfit", sans-serif !important;
}
p {
  line-height: 26px !important;
  @media (max-width: 640px) {
    line-height: 20px !important;
  }
}
input,
::placeholder {
  @media (max-width: 640px) {
    font-size: 13px !important;
  }
}
/* ======================= End-Font-Family ======================= */

/* ======================= Start-scrollbar ======================= */
::-webkit-scrollbar {
  width: 10px;
}
::-webkit-scrollbar-thumb {
  background: #ececec !important;
}
.newscroll::-webkit-scrollbar {
  width: 0px;
}
/* ======================= End-scrollbar ======================= */

/* ======================= Start-Container ======================= */
.container {
  max-width: 1300px;
  padding: 0 100px !important;
  @media (max-width: 1224px) and (min-width: 913px) {
    padding: 0px 30px !important;
  }
  @media (max-width: 912px) and (min-width: 641px) {
    padding: 0px 20px !important;
  }
  @media (max-width: 640px) {
    padding: 0px 10px !important;
  }
}
.container2 {
  display: flex !important;
  justify-content: center !important;
  margin: 0px auto !important;
  padding: 0 30px !important;
  @media (max-width: 1224px) and (min-width: 913px) {
    padding: 0px 30px !important;
  }
  @media (max-width: 912px) and (min-width: 641px) {
    padding: 0px 20px !important;
  }
  @media (max-width: 640px) {
    padding: 0px 10px !important;
  }
}
/* ======================= End-Container ======================= */

/* ======================= Start-Common ======================= */
body {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  word-wrap: break-word !important;
  width: 100% !important;
}
a {
  text-decoration: none !important;
}
p {
  margin: 0px;
  padding: 0px;
}
.gsap-marker-scroller-start,
.gsap-marker-scroller-end,
.gsap-marker-start,
.gsap-marker-end {
  opacity: 0;
}
.cursor-pointer {
  cursor: pointer !important;
}
.z-999 {
  z-index: 9999 !important;
}
.center-absolute {
  top: 50% !important;
  left: 50% !important;
  transform: translate(-50%, -50%) !important;
}
.dot {
  width: 12px !important;
  height: 12px !important;
  @media (max-width: 912px) and (min-width: 641px) {
    width: 10px !important;
    height: 10px !important;
  }
  @media (max-width: 640px) {
    width: 10px !important;
    height: 10px !important;
  }
}
.center-div {
  width: 30px !important;
  height: 30px !important;
  display: flex !important;
  justify-content: center !important;
  align-items: center !important;
}
.h-100 {
  height: 100vh !important;
}
.h-up {
  height: 8vh !important;
}
.h-bottom {
  height: 92vh !important;
}
.list-none {
  list-style: none !important;
}
.decimal {
  list-style: decimal !important;
}
.disc {
  list-style: disc !important;
}
.border-0 {
  border: none !important;
}
.border-ec {
  border: 1px solid #ececec !important;
}
.bordb {
  border-bottom: 1px solid var(--secondary) !important;
}
.bordh {
  border-top: 1px solid var(--secondary) !important;
}
.bordl {
  border-left: 1px solid var(--secondary) !important;
}
.bordr {
  border-right: 1px solid var(--secondary) !important;
}

/* ======================= End-Common ======================= */

.loader {
  width: 120px;
  height: 120px;
  border: 5px solid var(--secondary);
  border-radius: 50%;
  display: inline-block;
  position: relative;
  box-sizing: border-box;
}
.loader::before {
  content: "";
  box-sizing: border-box;
  position: absolute;
  left: 50%;
  top: 50%;
  width: 90px;
  height: 90px;
  border-radius: 50%;
  border: 6px solid;
  border-color: var(--forth) transparent;
  transform: translate(-50%, -50%) rotate(0deg);
  animation: rotation 3s linear infinite;
}
.loader::after {
  content: "";
  box-sizing: border-box;
  position: absolute;
  left: 50%;
  top: 50%;
  width: 140px;
  height: 140px;
  border-radius: 50%;
  border: 4px solid;
  border-color: var(--primary) transparent;
  transform: translate(-50%, -50%) rotate(0deg);
  animation: rotation2 3s linear infinite;
}

@keyframes rotation {
  0% {
    transform: translate(-50%, -50%) rotate(0deg);
  }
  100% {
    transform: translate(-50%, -50%) rotate(360deg);
  }
}
@keyframes rotation2 {
  0% {
    transform: translate(-50%, -50%) rotate(360deg);
  }
  100% {
    transform: translate(-50%, -50%) rotate(0deg);
  }
}
.h-reminder{
  height: 300px !important;
  overflow-y: auto !important;
}