/* ======================= Start-Pages ======================= */
.banner-img {
  height: 450px !important;
}
.patch-img{
  width: 60px !important;
  height: 60px !important;
}
/* ======================= End-Pages ======================= */
