/* ======================= Start-Font-size ======================= */
.head-text {
  font-size: 72px !important;
  margin: 0px !important;
  font-weight: 600 !important;
}
.mid-text {
  font-size: 22px !important;
  margin: 0px !important;
  font-weight: 500 !important;
}
.headpara-text {
  font-size: 24px !important;
  font-weight: 400 !important;
}
.para-text {
  font-size: 18px !important;
  font-weight: 400 !important;
}
.small-text {
  font-size: 15px !important;
  font-weight: 400 !important;
}
/* ======================= End-Font-size ======================= */

/* ======================= Start-Table ======================= */
table {
  border-collapse: collapse;
  width: 100%;
}
td {
  border: 1px solid #ececec;
  text-align: left;
  padding: 10px;
}
th {
  background: var(--primary2);
  border: 1px solid #ececec;
  text-align: left;
  padding: 8px;

  @media (max-width: 640px) {
    padding: 8px;
  }
}
tr {
  background: var(--white);
}
tr:nth-child(even):hover {
  background: var(--tertiary);
}
/* ======================= End-Table ======================= */

/* ======================= Start-Table ======================= */
.banner-img {
  height: 450px !important;
}
.patch-img{
  width: 60px !important;
  height: 60px !important;
}
/* ======================= End-Table ======================= */
