.section_bg {
    background-image: linear-gradient(rgba(109, 102, 102, 0.083) 1px, transparent 1px), linear-gradient(90deg, rgba(109, 102, 102, 0.083) 1px, transparent 1px);
    background-size: 60px 60px, 60px 60px, 20px 20px, 20px 20px;
    background-position: -2px -2px, -2px -2px, -1px -1px, -1px -1px;
}
